<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->


<h3>Bootstrap Code along </h3>


<div class="container">
    <div class="row ">
        <div class="col">left</div>
        <div class="col-6">middle</div>
        <div class="col">right</div>
    </div>

</div>

<div class="container-fluid">SomethingElse</div> 
