
<div class="card" style="width: 18rem;">
    <img class="card-img-top"  src={{img}} alt="Card image cap for {{name}}" >
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">Some info about {{name}}.</p>
        <a href="/poke/" class="btn btn-primary">Go somewhere</a>
    </div>
</div>